$overlay-text-color = white
$overlay-background = rgba(0, 0, 0, 75%)

$active-background   = #002b36
$active-foreground   = #268bd2
$inactive-background = darken(darkgrey, 40%)
$inactive-foreground = darken(lightgrey, 20%)

$warning = darkred

$border = 2px

$speed = .5s
$font  = Dosis
