&, & > .liquid-container, & > .liquid-container > .liquid-child
  height 100%
  display flex
  align-items center
  justify-content center

& > .year
  &, & > .liquid-child
    width 4ch

& > .month, & > .day, & > .hours, & > .minutes, & > .seconds
  &, & > .liquid-child
    width 2ch

& > .date-separator:before
  content '-'

& > .datetime-separator:before
  content '\00a0'

& > .time-separator:before
  content ':'
