&, .liquid-container, .liquid-child
  height 100%
  display flex
  align-items center
  justify-content center

.liquid-child
  width 2.5ch

.year > .liquid-child
  width 4.5ch

.date-separator:before
  content '-'

.datetime-separator:before
  content '\00a0'

.time-separator:before
  content ':'
