&
  flex-grow 1
  flex-basis 0
  padding 5px
  display flex
  flex-flow row nowrap

&:not(:first-child)
  border-left $border-size solid $active-foreground

&:not(.selected)
  cursor pointer
  color $inactive-foreground

&.selected
  color lighten($inactive-foreground, 40%)

& > .back, & > .forward, & > .refresh, & > .title, & > .close
  margin 0 5px
  transition color $speed

& > .back, & > .forward, & > .refresh, & > .close
  cursor pointer
  &.back:before
    icon 'arrow-left'
  &.forward:before
    icon 'arrow-right'
  &.refresh:before
    icon 'refresh'
  &.close:before
    icon 'close'

& > .back:hover, & > .forward:hover, & > .refresh:hover
  color $inactive-foreground;

& > .close:hover
  color $warning, 40%;

& > .title
  flex-grow 1
  flex-basis 0
  width 0
  text-overflow ellipsis
  overflow hidden
  white-space nowrap
